[include]
  ; Keep my name/email out of the public dotfiles
  path = ~/.gituser
[color]
  ui = true
[core]
  excludesfile = ~/.gitignore
[push]
  default = current
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	recent = branch --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\"
[url "git@github.com:"]
	insteadOf = https://github.com/
