[submodule "zsh/oh-my-zsh.symlink"]
	path = zsh/oh-my-zsh.symlink
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "terminal/gnome-terminal-colors-solarized"]
	path = terminal/gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
